* {
   font-size: 20px; 
}

body {
    background-image: url(dog.jpg);
    background-size: cover;
}

li {
    list-style: none;
    display: inline-block;
}

#vx {
    color: darkkhaki;
}

.vo {
    color: red;
}

.vz {
    border: 2px solid red;
}

h2, p {
    color: rgb(234, 255, 0);
    border: 5px dotted red;
    text-align: center;
    cursor: cell;
}

p:hover {
    color: blue;
}